<div>
    <h2>Register your NFT</h2>
    <div class="row">
        <div class="col-">Assets Url</div>
        <div class="col-"><input type="text" class="form-control" placeholder="https://opensea.io/assets/0x76be3b62873462d2142405439777e971754e8e77/10089"> </div>
    </div>

    <div class="row">
        <div class="col-">Twitter Handle</div>
        <div class="col-"><input type="text" class="form-control" placeholder="@elonmusk"> </div>
    </div>


    <div class="row">
        <div class="col-">Login with metaMask</div>
        <div class="col-"><input type="text" class="form-control" placeholder="@elonmusk"> </div>
    </div>

</div>

<script>
    


</script>
